@import "tailwindcss";


/* Buttons */
.button-primary {
  background-color: var(--color-primary);
  color: white;
  border: none;
}

.button-secondary {
  background-color: var(--color-secondary);
  color: white;
}

/* Badges */
.badge-admin {
  background-color: var(--color-admin-badge);
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
}

.badge-driver {
  background-color: var(--color-driver-badge);
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
}

/* Page Backgrounds */
